<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yimaxiaoerlang.im_kit">
    <!-- Required to provide the web interface -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required to run keep-alive service when targeting API 28 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:networkSecurityConfig="@xml/config">
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.ChatroomMemberActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.ChatRoomListActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.FriendProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.GroupInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.ChatRoomInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.SelectFriendActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.NewFriendListActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.AddFriendActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.rtc_kit.ui.CallMultiActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.rtc_kit.ui.CallSingleActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.CmeraActivity"
            android:exported="false" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.ChatActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.IndexActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <provider
            android:name="com.yimaxiaoerlang.im_kit.IMContentProvider"
            android:authorities="${applicationId}.ww"
            android:enabled="true"
            android:exported="true" />

        <service android:name="com.zlw.main.recorderlib.recorder.RecordService" />

        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.YMLoginActivity"
            android:launchMode="standard" />
        <activity
            android:name="com.yimaxiaoerlang.im_kit.ui.PlayVideoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>